
/* * is universal selector */
*{
    margin:0;
    padding:0;
}


.container{
    display:flex ;
    border:3px solid black;
    height:600px;
    width:1200px;
    flex-direction:row-reverse;
    flex-wrap:wrap-reverse;
    flex-flow:row-reverse;
    /* text-align: ; */
    justify-content:space-between;
    align-items:first baseline;
    /* align-content: space-between; */
    /* gap:10px; row-gap coloumn-gap */
    gap:10px;
    /* flex-wrap: wrap; 3 wrap AND WRAP reverse */
    flex-wrap: wrap;
    /* main axis and cross axis  */
    justify-content:space-between;
    /* main axis horizontal start flex end center space btw sppace around 
     */
    flex-flow:wrap;


    align-items:stretch;

    /* align-content: baseline; */

    gap:10px;

    

}

.item{
    height:50px;
    width:100px;
    border:1px solid red;
    background-color: brown;
    /* order zero by default if want to chnage sequence use order 
     */
     /* order: */
     flex-grow: 1;
    

    
}


.item4{
    /* order:-1; */
    flex-grow: 2;
    /* flex-shrink: ; */
     align-self:flex-end;
}